    <nav class="pc-sidebar ">
      <div class="navbar-wrapper">
        <div class="m-header">
          <a href="{{ path('app_home') }}" class="b-brand">
            <!-- ========   change your logo hear   ============ -->
            <img src=" {{ asset('custom/images/logo.svg') }} " alt="" class="logo logo-lg">
            <img src=" {{ asset('custom/images/logo-sm.svg') }} " alt="" class="logo logo-sm">
          </a>
        </div>
        <div class="navbar-content">
          <ul class="pc-navbar">
            <li class="pc-item pc-hasmenu">
              <a href="#!" class="pc-link ">
                <span class="pc-micon"><i data-feather="home"></i></span>
                <span class="pc-mtext">Navigation</span>
                <span class="pc-arrow"><i data-feather="chevron-right"></i></span>
              </a>
              <ul class="pc-submenu">
                <li class="pc-item pc-hasmenu">
                  <a href="#!" class="pc-link">Dashboard<span class="pc-arrow"><i data-feather="chevron-right"></i></span></a>
                  <ul class="pc-submenu">
                    <li class="pc-item"><a class="pc-link" href="{{ path('app_home') }}">Sales</a></li>
                    <li class="pc-item"><a class="pc-link" href="dashboard-analytics.html">Analytics</a></li>
                  </ul>
                </li>
                <li class="pc-item pc-hasmenu">
                  <a href="#!" class="pc-link">Layouts<span class="pc-arrow"><i data-feather="chevron-right"></i></span></a>
                  <ul class="pc-submenu">
                    <li class="pc-item"><a target="_blank" class="pc-link" href="layout-collapse.html">Collapse</a></li>
                    <li class="pc-item"><a target="_blank" class="pc-link" href="layout-horizontal.html">Horizontal</a></li>
                    <li class="pc-item"><a target="_blank" class="pc-link" href="layout-horizontal2.html">Horizontal v2</a></li>
                    <li class="pc-item"><a target="_blank" class="pc-link" href="layout-modern.html">Modern</a></li>
                    <li class="pc-item"><a target="_blank" class="pc-link" href="layout-advance.html">Advance</a></li>
                    <li class="pc-item"><a target="_blank" class="pc-link" href="layout-topbar.html">Topbar</a></li>
                    <li class="pc-item"><a target="_blank" class="pc-link" href="layout-tab.html">Tab</a></li>
                    <li class="pc-item"><a target="_blank" class="pc-link" href="layout-nested.html">Nested</a></li>
                    <li class="pc-item"><a target="_blank" class="pc-link" href="layout-navtoggler.html">Navbar Toggle</a></li>
                  </ul>
                </li>
                <li class="pc-item pc-hasmenu">
                  <a href="#!" class="pc-link ">Widget<span class="pc-arrow"><i data-feather="chevron-right"></i></span></a>
                  <ul class="pc-submenu">
                    <li class="pc-item"><a class="pc-link" href="widget-statistic.html">Statistic</a></li>
                    <li class="pc-item"><a class="pc-link" href="widget-data.html">Data</a></li>
                    <li class="pc-item"><a class="pc-link" href="widget-chart.html">Chart</a></li>
                  </ul>
                </li>
                <li class="pc-item pc-hasmenu">
                  <a href="#!" class="pc-link ">User<span class="pc-arrow"><i data-feather="chevron-right"></i></span></a>
                  <ul class="pc-submenu">
                    <li class="pc-item"><a class="pc-link" href="user-profile.html">Profile</a></li>
                    <li class="pc-item"><a class="pc-link" href="user-profile-social.html">Social Profile</a></li>
                    <li class="pc-item"><a class="pc-link" href="user-card.html">User Card</a></li>
                    <li class="pc-item"><a class="pc-link" href="user-list.html">User List</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="pc-item pc-hasmenu">
              <a href="#!" class="pc-link ">
                <span class="pc-micon"><i data-feather="box"></i></span>
                <span class="pc-mtext">Components</span>
                <span class="pc-arrow"><i data-feather="chevron-right"></i></span>
              </a>
              <ul class="pc-submenu">
                <li class="pc-item pc-hasmenu">
                  <a href="#!" class="pc-link">Basic<span class="pc-arrow"><i data-feather="chevron-right"></i></span></a>
                  <ul class="pc-submenu">
                    <li class="pc-item"><a class="pc-link" href="bc_alert.html">Alert</a></li>
                    <li class="pc-item"><a class="pc-link" href="bc_button.html">Button</a></li>
                    <li class="pc-item"><a class="pc-link" href="bc_badges.html">Badges</a></li>
                    <li class="pc-item"><a class="pc-link" href="bc_breadcrumb-pagination.html">Breadcrumb & paggination</a></li>
                    <li class="pc-item"><a class="pc-link" href="bc_card.html">Cards</a></li>
                    <li class="pc-item"><a class="pc-link" href="bc_collapse.html">Collapse</a></li>
                    <li class="pc-item"><a class="pc-link" href="bc_carousel.html">Carousel</a></li>
                    <li class="pc-item"><a class="pc-link" href="bc_grid.html">Grid system</a></li>
                    <li class="pc-item"><a class="pc-link" href="bc_progress.html">Progress</a></li>
                    <li class="pc-item"><a class="pc-link" href="bc_modal.html">Modal</a></li>
                    <li class="pc-item"><a class="pc-link" href="bc_spinner.html">Spinner</a></li>
                    <li class="pc-item"><a class="pc-link" href="bc_tabs.html">Tabs & pills</a></li>
                    <li class="pc-item"><a class="pc-link" href="bc_typography.html">Typography</a></li>
                    <li class="pc-item"><a class="pc-link" href="bc_tooltip-popover.html">Tooltip & popovers</a></li>
                    <li class="pc-item"><a class="pc-link" href="bc_toasts.html">Toasts</a></li>
                    <li class="pc-item"><a class="pc-link" href="bc_extra.html">Other</a></li>
                  </ul>
                </li>
                <li class="pc-item pc-hasmenu">
                  <a href="#!" class="pc-link">Advance<span class="pc-arrow"><i data-feather="chevron-right"></i></span></a>
                  <ul class="pc-submenu">
                    <li class="pc-item"><a class="pc-link" href="ac_alert.html">Sweet alert</a></li>
                    <li class="pc-item"><a class="pc-link" href="ac-datepicker-componant.html">Datepicker</a></li>
                    <li class="pc-item"><a class="pc-link" href="ac_lightbox.html">Lightbox</a></li>
                    <li class="pc-item"><a class="pc-link" href="ac_notification.html">Notification</a></li>
                    <li class="pc-item"><a class="pc-link" href="ac_pnotify.html">Pnotify</a></li>
                    <li class="pc-item"><a class="pc-link" href="ac_rating.html">Rating</a></li>
                    <li class="pc-item"><a class="pc-link" href="ac_rangeslider.html">Rangeslider</a></li>
                    <li class="pc-item"><a class="pc-link" href="ac_syntax_highlighter.html">Syntax highlighter</a></li>
                  </ul>
                </li>
                <li class="pc-item pc-hasmenu">
                  <a href="#!" class="pc-link">Icons<span class="pc-arrow"><i data-feather="chevron-right"></i></span></a>
                  <ul class="pc-submenu">
                    <li class="pc-item"><a class="pc-link" href="icon-feather.html">Feather</a></li>
                    <li class="pc-item"><a class="pc-link" href="icon-fontawsome.html">Font Awesome 5</a></li>
                  </ul>
                </li>
                <li class="pc-item pc-hasmenu">
                  <a href="#!" class="pc-link">Forms Elements<span class="pc-arrow"><i data-feather="chevron-right"></i></span></a>
                  <ul class="pc-submenu">
                    <li class="pc-item"><a class="pc-link" href="form_elements.html">Form Basic</a></li>
                    <li class="pc-item"><a class="pc-link" href="form2_basic.html">Form Options</a></li>
                    <li class="pc-item"><a class="pc-link" href="form2_input_group.html">Input Groups</a></li>
                    <li class="pc-item"><a class="pc-link" href="form2_checkbox.html">Checkbox</a></li>
                    <li class="pc-item"><a class="pc-link" href="form2_radio.html">Radio</a></li>
                    <li class="pc-item"><a class="pc-link" href="form2_switch.html">Switch</a></li>
                    <li class="pc-item"><a class="pc-link" href="form2_megaoption.html">Mega option</a></li>
                  </ul>
                </li>
                <li class="pc-item pc-hasmenu">
                  <a href="#!" class="pc-link">Forms Plugins<span class="pc-arrow"><i data-feather="chevron-right"></i></span></a>
                  <ul class="pc-submenu">
                    <li class="pc-item"><a class="pc-link" href="form2_datepicker.html">Datepicker</a></li>
                    <li class="pc-item"><a class="pc-link" href="form2_daterangepicker.html">Date Range Picker</a></li>
                    <li class="pc-item"><a class="pc-link" href="form2_timepicker.html">Timepicker</a></li>
                    <li class="pc-item"><a class="pc-link" href="form2_multipleselectsplitter.html">Multiple Select Splitter</a></li>
                    <li class="pc-item"><a class="pc-link" href="form2_select.html">Select</a></li>
                    <li class="pc-item"><a class="pc-link" href="form2_select2.html">Select2</a></li>
                    <li class="pc-item"><a class="pc-link" href="form2_recaptcha.html">Google reCaptcha</a></li>
                    <li class="pc-item"><a class="pc-link" href="form2_inputmask.html">Input Masks</a></li>
                    <li class="pc-item"><a class="pc-link" href="form2_rangeslider.html">Range Slider</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="pc-item pc-hasmenu">
              <a href="#!" class="pc-link ">
                <span class="pc-micon"><i data-feather="grid"></i></span>
                <span class="pc-mtext">Bootstrap table</span>
                <span class="pc-arrow"><i data-feather="chevron-right"></i></span>
              </a>
              <ul class="pc-submenu">
                <li class="pc-item"><a class="pc-link" href="tbl_bootstrap.html">Basic table</a></li>
                <li class="pc-item"><a class="pc-link" href="tbl_sizing.html">Sizing table</a></li>
                <li class="pc-item"><a class="pc-link" href="tbl_border.html">Border table</a></li>
                <li class="pc-item"><a class="pc-link" href="tbl_styling.html">Styling table</a></li>
              </ul>
            </li>
            <li class="pc-item pc-hasmenu">
              <a href="#!" class="pc-link ">
                <span class="pc-micon"><i data-feather="grid"></i></span>
                <span class="pc-mtext">Annuaires</span>
                <span class="pc-arrow"><i data-feather="chevron-right"></i></span>
              </a>
              <ul class="pc-submenu">
                <li class="pc-item"><a class="pc-link" href=" # ">Tous</a></li>
                <li class="pc-item"><a class="pc-link" href=" # ">Collaborateurs</a></li>
                <li class="pc-item"><a class="pc-link" href=" # ">Fournisseurs</a></li>
                <li class="pc-item"><a class="pc-link" href=" # ">Clients</a></li>
                <li class="pc-item"><a class="pc-link" href=" # ">Divers</a></li>
              </ul>
            </li>
            <li class="pc-item"><a href="sample-page.html" class="pc-link "><span class="pc-micon"><i data-feather="sidebar"></i></span><span class="pc-mtext">Sample page</span></a></li>
          </ul>
        </div>
      </div>
    </nav>